<!DOCTYPE html>
<html>
<head>
  <title>Категории заведений</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <style>
      body{
          background-color: #ffe5d4;
      }
  </style>
</head>
<body>
<div class="container mt-5">
  <header class="text-center mb-5">
    <h1 class="display-4">FoodReview</h1>
    <p class="lead text-muted">Что есть в заведениях?</p>
  </header>

  <section>
    <% if @categories.any? %>
      <ul class="list-group">
        <% @categories.each do |category| %>
          <h3>
            <p class="text-body"><%= category.name %></p>
          </h3>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">Категорий мест пока нет. Добавьте их!</p>
    <% end %>

  </section>
</div>
</body>
</html>
