<!DOCTYPE html>
<html>
<head>
  <title>FoodReview | <%= @place.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <style>
      body {
          background-color: #FFE5D4;
      }

      .place-photo {
          width: 100%;
          height: 300px;
          overflow: hidden; /* Скрывает часть изображения, выходящую за пределы контейнера */
      }

      .place-photo img {
          width: 100%; /* Заставляет изображение занимать всю ширину контейнера */
          height: 100%; /* Заставляет изображение занимать всю высоту контейнера */
          object-fit: cover; /* Обеспечивает правильное масштабирование изображения */
      }
  </style>
</head>
<body>
<div class="container mt-5">
  <header class="text-center mb-4">
    <h1 class="display-4"><%= @place.name %></h1>
  </header>

  <div class="place-photo mb-4">
    <% if @place.image.attached? %>
      <%= image_tag @place.image, alt: "Фото заведения" %>
    <% else %>
      <span>Фото заведения отсутствует</span>
    <% end %>
  </div>

  <section>
    <h2 class="h5 text-muted mb-3">Адрес:</h2>
    <p class="lead"><%= @place.address %></p>

    <h2 class="h5 text-muted mb-3">Описание:</h2>
    <p class="text-justify"><%= @place.description %></p>
  </section>

  <div class="mt-4 mb-4 text-end">
    <%= link_to 'Назад', :back, class: "btn btn-outline-secondary" %>
  </div>
</div>
</body>
</html>
