<!DOCTYPE html>
<html>
<head>
  <title>FoodReview | <%= @place.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <style>
      body {
          background-color: #FFE5D4;
      }

      .place-photo {
          width: 100%;
          height: 300px;
          overflow: hidden; /* Скрывает часть изображения, выходящую за пределы контейнера */
      }

      .place-photo img {
          width: 100%; /* Заставляет изображение занимать всю ширину контейнера */
          height: 100%; /* Заставляет изображение занимать всю высоту контейнера */
          object-fit: cover; /* Обеспечивает правильное масштабирование изображения */
      }

      .button-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .review-list {
          margin-top: 30px;
      }

      .review-item {
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #fff;
          margin-bottom: 15px;
      }

      .review-item h5 {
          margin-bottom: 10px;
      }
  </style>
</head>
<body>
<div class="container mt-5">
  <header class="text-center mb-4">
    <h1 class="display-4"><%= @place.name %></h1>
  </header>

  <div class="place-photo mb-4">
    <% if @place.pseudonym.present? %>
      <% image_path = Dir.glob("public/assets/places/#{@place.pseudonym}-*.jpg").first %>
      <% unless image_path %>
        <% image_path = Dir.glob("public/assets/places/#{@place.pseudonym}.jpg").first %>
      <% end %>

      <% if image_path %>
        <%= image_tag "/assets/places/#{image_path.split('/').last}", alt: @place.name, class: "img-fluid rounded" %>
      <% else %>
        <span>Фото отсутствует</span>
      <% end %>
    <% else %>
      <span>Фото отсутствует</span>
    <% end %>
  </div>


  <section>
    <h2 class="h5 text-muted mb-3">Адрес:</h2>
    <p class="lead"><%= @place.address %></p>

    <h2 class="h5 text-muted mb-3">Описание:</h2>
    <p class="text-justify"><%= @place.description %></p>
  </section>

  <div class="button-group mt-4 mb-4">
    <% if user_signed_in? %>
      <%= link_to 'Оставить отзыв', new_place_review_path(@place), class: "btn btn-outline-secondary" %>
    <% end %>
    <%= link_to 'Назад', places_path, class: "btn btn-outline-secondary" %>
  </div>

  <div class="review-list">
    <h2 class="h5 text-muted mb-3">Отзывы:</h2>
    <% if @place.reviews.any? %>
      <% @place.reviews.each do |review| %>
        <div class="review-item">
          <h5>Оценка: <%= 11 - review.rating %> ⭐</h5>
          <p><%= review.description %></p>
          <p class="text-muted small">Оставлен пользователем: <%= review.user.email %></p>
        </div>
      <% end %>
    <% else %>
      <p class="text-muted">Отзывов пока нет. Будьте первым, кто оставит отзыв!</p>
    <% end %>
  </div>
</div>
</body>
</html>
